 /* css for article */
 .padding{
    padding: 30px 250px 15px 50px;
    font-size: x-large;
    text-align: justify;
    font-family: cursive;
  }  
    
    /* <img> padding */
    img {
      padding: 10px 250px 15px 50px;
    }